<div ng-controller="manageCtrl">
	<h3 id="viewTitle">Manage Project</h3>
	<div class="panels panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Actions</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-success" ng-show="showAlert1">
				<strong>Message:</strong> {{alertText1}}
			</div>
			<div>This will delete the most recent test added to the database for this project.</div>
			<div>
				<button class="btn btn-default buttons" ng-click="deleteMostRecent()">Delete Most Recent Test</button>
			</div>
			<div>This will delete the test that matches the given Id.</div>
			<div>
				<div id="delete_by_id_group" class="input-group">
					<input id="testToDelete" type="text" class="form-control" placeholder="Id"> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="deleteTest()">Delete</button>
					</span>
				</div>
			</div>
			<!--<div>This backs up the current database to an external file on the server.</div>
			<div>
				<button class="btn btn-default buttons" ng-click="">Backup</button>
			</div>-->
		</div>
	</div>
	<div class="panels panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Warning - Danger Zone</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-success" ng-show="showAlert2">
				<strong>Message:</strong> {{alertText2}}
			</div>
			<div>
				This will <strong>delete the 100 oldest tests and their notes</strong> for this project.
			</div>
			<div>
				<button class="btn btn-warning buttons" ng-click="deleteHundred()">Delete 100 Oldest Tests</button>
			</div>
			<!--<div>This writes the current database to an external file on the server and then deletes the current data.</div>
			<div>
				<button class="btn btn-warning buttons" ng-click="">Dump and Delete</button>
			</div>-->
			<div>
				This will <strong>delete all tests and their notes</strong> for this project.
			</div>
			<div>
				<button class="btn btn-danger buttons" ng-click="deleteAll()">Delete All Tests</button>
			</div>
		</div>
	</div>
</div>
