/*
 * Masthead for nav
 */

.header {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.header div {
	margin-right: 0px;
	margin-left: 0px;
	display: table;
}

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

.container-custom {
	padding: 30px;	
}

/*
 * Body Styles
 */
 body {
 	min-width: 1615px;
 }
 
 .custom-tab{
 	border-bottom: none;
 }
 
 .custom-tab > li {
 	margin-bottom: 0px; 
 }
 
.bs-callout {
	padding: 0px 20px;
	margin: 10px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

/*
 * Footer
 */

.footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
