/*
 * Masthead for nav
 */

.header {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/*
 * Body Styles
 */
.bs-callout {
	padding: 0px 20px;
	margin: 10px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.notes td h3 {
	margin-left : 5px;
	border-bottom: 2px solid;
}

.notes td div form button {
	margin : 5px 5px 5px 0px;
}

/*
 * Footer
 */

.footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
