<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>TestReporter</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css" />
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css" />
		<link rel="stylesheet" href="app.css" />
		<link rel="stylesheet" href="tests/tests.css" />
		<link rel="stylesheet" href="stats/stats.css" />
	</head>
	<body ng-controller="projectCtrl" data-ng-init="init()">
		<!-- Header -->
		<div class="header">
			<div>
				<ul class="nav navbar-nav">
					<li>
						<a href="#/tests" class="nav-item">TestReporter</a>
					</li>
					<li class="dropdown">
						<a href="" class="nav-item dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="project in projects">
								<a ng-click='switchProject(project.db)' href="">{{project.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- End Header -->

		<div class="container-custom">	
			<!-- Title -->
			<h1>TestReporter - {{project.name}}</h1>
			<ul class="nav nav-tabs custom-tab">
				<li role="presentation"><a href="#/tests">Tests</a></li>
				<li role="presentation"><a href="#/stats">Reports</a></li>
			</ul>
			<div ng-view></div>
		</div>

		<div class="footer">
			<div>
				TestReporter app: v
				<span app-version></span>
			</div>
		</div>
	</body>
	<script	src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
	<script src="app.js"></script>
	<script src="tests/tests.js"></script>
	<script src="stats/stats.js"></script>
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
</html>
