.notes td h3 {
	margin-left: 5px;
	border-bottom: 2px solid;
}

.notes td div form button {
	margin: 5px 5px 5px 0px;
}

#filter-container {
	max-width: 300px;
	margin-bottom: 10px;
	float : left;
}

#column-select-container{
	float : left;
	margin-left : 10px;
}

.b_error{
	min-width: 700px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

.b_name, .b_param, .b_extra, .b_runInfo, #h_runInfo, .b_elapsed, .b_start, .b_end {
	white-space: nowrap
}