<div ng-controller="testsCtrl">
	<table class="table table-hover table-condensed table-bordered">
  		<thead>
  			<tr>
  				<td id="h_id">Id</td>
  				<td id="h_name">Name</td>
  				<td id="h_error">Error</td>
  				<td id="h_info">Run Info.</td>
  				<td id="h_param">Parameters</td>
  				<td id="h_start">Start</td>
  				<td id="h_end">End</td>
  				<td id="h_elpased">Elapsed (ms)</td>
  				<td id="h_extra">Extra Info</td>
  			</tr>
  		</thead>
  		<tbody ng-repeat="test in tests">
  			<tr class="{{test.status}}" id="{{test.id}}" ng-click="toggleNotes(test.id)">
  				<td>{{test.id}}</td>
  				<td>{{test.name}}</td>
  				<td>{{test.error}}</td>
  				<td>{{test.runInfo}}</td>
  				<td>{{test.param}}</td>
  				<td>{{(test.start | date:"MM/dd/yyyy h:mm:ss a")}}</td>
  				<td>{{(test.end | date:"MM/dd/yyyy h:mm:ss a")}}</td>
  				<td>{{(test.end - test.start)}}</td>
  				<td>{{test.extra}}</td>
  			</tr>
  			<tr class="notes" style="display:none">
  				<td ng-controller="notesCtrl" colspan="9" ng-init="init(test.notes)">
  					<h3>Notes</h3>
  					<div ng-repeat="note in notesForm" class="bs-callout bs-callout-primary">
    					<p>{{note.note}}</p>
						<p>- {{note.who}}</p>
  					</div>
  					<div class="bs-callout bs-callout-primary">
  						<form ng-submit="addNote($event)" novalidate>
    						<h4>Add note</h4>
    						Note:<br>
    						<textarea rows="5" type="text" class="form-control" ng-model="noteInput"></textarea>
    						Name:<br>
    						<input type="text" class="form-control" ng-model="whoInput">
    						<button class="btn btn-primary" type="submit">Add Note</button>
    						<br>
  						</form>
  					</div>
  				</td>
  			</tr>
  		</tbody>
  	</table>
</div>